[Unit]
Description=gunicorn kittygram daemon

After=network.target

[Service]
User=yc-user

WorkingDirectory=/home/yc-user/infra_sprint1/backend

ExecStart=/home/yc-user/infra_sprint1/backend/venv/bin/gunicorn --bind 127.0.0.1:5555 kittygram_backend.wsgi:application

[Install]
WantedBy=multi-user.target
